{% load i18n %}
<!-- Footer Start -->
    
    <div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-light mb-4">{% trans "Address" %}</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>{% trans "54 Mohamed Safwat, Alexandria, Egypt" %}</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>035445013</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/company/el-hamra-oil-company/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-light mb-4">{% trans "Main Links" %}</h4>
                    <a class="btn btn-link" href="{% url 'home' %}">{% trans "Home" %}</a>
                    <a class="btn btn-link" href="{% url 'about' %}">{% trans "About Us" %}</a>
                    <a class="btn btn-link" href="{% url '_contact' %}">{% trans "Contact Us" %}</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-light mb-4">{% trans "Other Links" %}</h4>
                    <a class="btn btn-link" href="{% url 'operation' %}">{% trans "Operation & Service" %}</a>
                    <a class="btn btn-link" href="{% url '_hse' %}">{% trans "QHSE" %}</a>
                    <a class="btn btn-link" href="{% url '_news' %}">{% trans "News" %}</a>
                    <a class="btn btn-link" href="{% url '_events' %}">{% trans "Events" %}</a>
                    <a class="btn btn-link" href="{% url '_career' %}">{% trans "Career" %}</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">{% trans "El Hamra Oil" %}</a>, {% trans "All Right Reserved" %}.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                       {% trans " Powered By" %} <a class="border-bottom" href="#">{% trans "El Hamra Oil" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>