{% load static %}
{% load i18n %}


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <div class="container-fluid">
        <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img src="{% static 'img/logo.png' %}" style="width: 85px; height: 85px;">
        </a>
        <button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
            <div class="navbar-nav text-center">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">{% trans "About Us" %}</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="{% url 'about' %}" class="dropdown-item">{% trans "About Company" %}</a>
                        <a href="{% url '_csr' %}" class="dropdown-item">{% trans "CSR" %}</a>
                        <a href="{% url '_management' %}" class="dropdown-item">{% trans "Management" %}</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">{% trans "Operations & Services" %}</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="{% url '_exploration' %}" class="dropdown-item">{% trans "Exploration" %}</a>
                        <a href="{% url '_operation' %}" class="dropdown-item">{% trans "Operation" %}</a>
                    </div>
                </div>
                <a href="{% url '_hse' %}" class="nav-item nav-link">{% trans "QHSE" %}</a>
                <a href="{% url '_ict' %}" class="nav-item nav-link">{% trans "ICT" %}</a>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">{% trans "Media Center" %}</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="{% url '_news' %}" class="dropdown-item">{% trans "News" %}</a>
                        <a href="{% url '_events' %}" class="dropdown-item">{% trans "Events" %}</a>
                    </div>
                </div>
                <a href="{% url '_career' %}" class="nav-item nav-link">{% trans "Career" %}</a>
            </div>
        </div>

        <!-- Language Switcher -->
        <div class="order-lg-last">
            <div class="dropdown">
                <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="languageDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {% if request.LANGUAGE_CODE == "ar"%}
                    العربية
                    {% else %}
                    English
                    {% endif %}
                </button>
                <ul class="dropdown-menu {% if request.LANGUAGE_CODE == 'ar' %}dropdown-menu-start{% else %}dropdown-menu-end{% endif %}" aria-labelledby="languageDropdown">
                    <li>
                        <a class="dropdown-item" href="/">
                            English
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/ar">
                            العربية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>



<!-- Navbar End -->