<div class="col-lg-12 col-md-6 data forth mx-auto">
    {% if page_obj_images %}
    <div class="row g-0 mx-lg-0">
        <div class="gallery">
            {% for image in page_obj_images %}
            <div class="gallery-item">
                <img src="{{image.image.url}}" alt="Photo 1">
            </div>
            {% endfor %}
        </div>
    </div>
    <br>


    <div class="pagination-container">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj_images.has_previous %}
                <a href="?page=1" class="pagination-link">&laquo;</a>
                <a href="?page={{ page_obj_images.previous_page_number }}">&lsaquo;</a>
                {% endif %}

                {% for num in page_obj_images.paginator.page_range %}
                {% if page_obj_images.number == num %}
                <a href="#" class="active">{{ num }}</a>
                {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj_images.next_page_number }}">&rsaquo;</a>
                <a href="?page={{ page_obj_images.paginator.num_pages }}">&raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    {% else %}
    <h3>{% trans "No Data Available" %}</h3>
    {% endif %}
</div>