{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<title>{% block title %}QHSE{% endblock %}</title>

<!-- Page Header Start -->
<div class="container-fluid page-header-hse py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">{% trans "Video" %}</h1>
    </div>
</div>
<!-- Page Header End -->
{% get_current_language as current_language %}
<div class="container-xxl">
    <div class="container">
        <div class="row mt-n2">
            <div class="col-12 text-center">
                <ul class="list-inline mb-5" id="portfolio-flters">
                    <li class="mx-2"><a href="{% url '_hse' %}">{% trans "Policy" %}</a></li>
                    <li class="mx-2"><a href="{% url 'hse_pdf' %}">{% trans "Certificate" %}</a></li>
                    <li class="mx-2 active"><a href="{% url 'hse_video' %}">{% trans "Videos" %}</a></li>
                    <li class="mx-2"><a href="{% url 'hse_gallery' %}">{% trans "Photo Gallery" %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-8 col-md-6 data third mx-auto">
    {% if page_obj_videos %}
    <div class="row g-0 mx-lg-0">
        <div class="gallery-video">
            {% for video in page_obj_videos %}
            <div class="gallery-item">
                <video width="400" controls>
                    <source src="{{video.video.url}}" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="pagination-container">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj_videos.has_previous %}
                <a href="?page=1" class="pagination-link">&laquo;</a>
                <a href="?page={{ page_obj_videos.previous_page_number }}">&lsaquo;</a>
                {% endif %}

                {% for num in page_obj_videos.paginator.page_range %}
                {% if page_obj_videos.number == num %}
                <a href="#" class="active">{{ num }}</a>
                {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj_videos.next_page_number }}">&rsaquo;</a>
                <a href="?page={{ page_obj_videos.paginator.num_pages }}">&raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    {% else %}
    <h3>{% trans "No Data Available" %}</h3>
    {% endif %}
</div>

{% endblock %}