<div class="col-lg-12 col-md-6 data third mx-auto">
    {% if page_obj_videos %}
    <div class="row g-0 mx-lg-0">
        <div class="gallery-video">
            {% for video in page_obj_videos %}
            <div class="gallery-item">
                <video width="400" controls>
                    <source src="{{video.video.url}}" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>


    <div class="pagination-container">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj_videos.has_previous %}
                <a href="?page=1" class="pagination-link">&laquo;</a>
                <a href="?page={{ page_obj_videos.previous_page_number }}">&lsaquo;</a>
                {% endif %}

                {% for num in page_obj_videos.paginator.page_range %}
                {% if page_obj_videos.number == num %}
                <a href="#" class="active">{{ num }}</a>
                {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj_videos.next_page_number }}">&rsaquo;</a>
                <a href="?page={{ page_obj_videos.paginator.num_pages }}">&raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    {% else %}
    <h3>{% trans "No Data Available" %}</h3>
    {% endif %}
</div>