{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<title>{% block title %}QHSE{% endblock %}</title>

<!-- Page Header Start -->
<div class="container-fluid page-header-hse py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">{% trans "Certificate" %}</h1>
    </div>
</div>
<!-- Page Header End -->
{% get_current_language as current_language %}
<div class="container-xxl">
    <div class="container">
        <div class="row mt-n2">
            <div class="col-12 text-center">
                <ul class="list-inline mb-5" id="portfolio-flters">
                    <li class="mx-2"><a href="{% url '_hse' %}">{% trans "Policy" %}</a></li>
                    <li class="mx-2 active"><a href="{% url 'hse_pdf' %}">{% trans "Certificate" %}</a></li>
                    <li class="mx-2"><a href="{% url 'hse_video' %}">{% trans "Videos" %}</a></li>
                    <li class="mx-2"><a href="{% url 'hse_gallery' %}">{% trans "Photo Gallery" %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-8 col-md-6 data second mx-auto">
    {% if pdfs %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>PDF File</th>
            </tr>
        </thead>
        <tbody>
            {% for pdf in pdfs%}
            <tr>
                <td>{{pdf.id}}</td>
                <td><a href="{{pdf.pdf.url}}" target="_blank"> {{pdf.title}}</a></td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
    {% else %}
    <h3>{% trans "No Data Available" %}</h3>
    {% endif %}
</div>

{% endblock %}