{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container-fluid page-header-ict py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">{% trans "ICT" %}</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-white active" aria-current="page">{% trans "Home" %}</li>
                <li class="breadcrumb-item text-white active" aria-current="page">{% trans "ICT" %}</li>
            </ol>
        </nav>
    </div>
</div>




{% endblock %}